 .row{
margin-left: 20px;
color: aliceblue;

 }
 .posters{
    display:flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    

 }
 .poster{
    max-height: 250px ;
    margin-right: 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
 }
 .posters::-webkit-scrollbar {
   display: none;
 }
 .smallPoster{
   max-height:150px;
   max-width: 100%;
   cursor: pointer;
    margin-right: 10px; 
    transition: all .2s ease-in-out; 
   
 }
 .mediumPoster{
   max-height:200px;
   max-width: 100%;
   cursor: pointer;
    margin-right: 10px; 
   
 }
 .poster:hover{
  transform: scale(1.1);
 }
.smallPoster:hover{
  transform:scaleY(1.1)
 }